
<server description="dsi-runtime-container">

   <featureManager>
        <feature>appSecurity-2.0</feature>
        <feature>restConnector-1.0</feature>
        <feature>ssl-1.0</feature>
        <feature>ia:iaRuntime-8.9.0</feature>
        <feature>ia:iaDispatcher-8.9.0</feature>
        <feature>ia:iaAnalytics-8.9.0</feature>
    </featureManager>

    <logging
        traceSpecification="com.ibm.ia.*=info:com.ibm.rules.*=info:*=info"
        maxFiles="5" />

    <httpEndpoint
        id="defaultHttpEndpoint"
        host="*"
        httpPort="${http.port}"
        httpsPort="${https.port}" />

    <xsServer
        catalogServer="false"
        catalogServiceBootstrap="${ia.bootstrapEndpoints}"
        transport="XIO"
        serverName="${ia.serverName}" />

    <remoteFileAccess>
        <!-- solutionManager and connectivityManager remote deployment
             require remote write access to the server output directory -->
        <writeDir>${server.output.dir}</writeDir>
    </remoteFileAccess>

    <serverCommands
        startServerTimeout="120"
        stopServerTimeout="120" />

    <ia_runtime solutionAutoStart="false"/>

    <ssl id="defaultSSLConfig"
        keyStoreRef="defaultKeyStore"
        sslProtocol="TLSv1.2" />

    <keyStore
        id="defaultKeyStore"
        password="${ia.test.password}" />

    <httpSession securityIntegrationEnabled="false"/>

    <quickStartSecurity
        userName="${ia.test.user}"
        userPassword="${ia.test.password}" />

    <authorization-roles id="iaAuthorization">
        <security-role name="iaRESTWriter">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaRESTReader">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaHTTPGatewaySubmitter">
            <special-subject type="EVERYONE" />
        </security-role>
        <security-role name="iaSolutionDeveloper">
            <special-subject type="EVERYONE" />
        </security-role>
    </authorization-roles>
</server>
